name: ci

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '21' ]
    name: Tests for Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Run tests
        run: |
          set -eux
          if [ "${{ matrix.java }}" == "21" ]; then
             JAVA_OPTS='--add-opens java.base/java.lang=ALL-UNNAMED -Dcask.virtual-threads.enabled=true' ./mill -i -k -j1 --disable-ticker __.testForked
          else
            ./mill -i -k -j1 --disable-ticker __.testForked
          fi

  test-examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '21' ]
    name: Tests examples for Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Run tests
        run: |
          set -eux
            if [ "${{ matrix.java }}" == "21" ]; then
                ./mill __.publishLocal
                JAVA_OPTS='--add-opens java.base/java.lang=ALL-UNNAMED -Dcask.virtual-threads.enabled=true' ./mill -i -k -j1 --disable-ticker testExamples
            else
                ./mill __.publishLocal
                ./mill -i -k -j1 --disable-ticker testExamples
            fi

  publish-sonatype:
    if: github.repository == 'com-lihaoyi/cask' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    env:
      MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MILL_PGP_SECRET_BASE64: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY }}
      MILL_PGP_PASSPHRASE: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Publish to Maven Central
        run: ./mill -i mill.scalalib.SonatypeCentralPublishModule/

  generate_docs:
    if: github.repository == 'com-lihaoyi/cask'
    runs-on: ubuntu-latest
    env:
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Generate Website
        run: |
          cd docs
          ./amm build.sc
      - name: Deploy Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/target
          publish_branch: gh-pages
